label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: 0.5rem;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  &:hover {
    background-color: #cfd8dc;
  }
  &:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
}
