<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>
  <div>
    <span>ID: </span>
    {{ hero.id }}
  </div>
  <div>
    <label for="hero-name">Hero Name: </label>
    <input
      type="text"
      id="hero-name"
      [(ngModel)]="hero.name"
      placeholder="name"
    />
  </div>
  <button type="button" (click)="saveHero()">Save Hero</button>

  <button type="button" (click)="goBack()">Go Back</button>
</div>
