<div *ngIf="messageService.messages.length > 0">
  <h2>Messages</h2>
  <button type="button" class="clear" (click)="messageService.clearMessages()">
    Clear Messages
  </button>
  <div *ngFor="let message of messageService.messages">
    {{ message }}
  </div>
</div>
