<h2>My Heroes</h2>

<div class="form-create-hero">
  <label for="new-hero">Hero Name: </label>
  <input type="text" id="new-hero" #heroName />
  <button
    type="button"
    class="add-button"
    (click)="onAddHero(heroName.value); heroName.value = ''"
  >
    Add Hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/heroes/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span>
      {{ hero.name }}
    </a>
    <button
      type="button"
      class="delete"
      title="Delete Hero"
      (click)="onDeleteHero(hero)"
    >
      x
    </button>
  </li>
</ul>
